ref/*
*.o
*.a
*~
Mondriaan*/src/include/
Mondriaan*/tools/Mondriaan
Mondriaan*/tools/MondriaanPlot
Mondriaan*/tools/MondriaanMovie
Mondriaan*/tools/Profile
Mondriaan*/tools/.*
Mondriaan*/tools/MatlabMondriaan.mexa64
matrices/*
other_matrices/*
Localview
*.mexa64
createB
Overpaint
test_csort
test_reorder
*.swp
*-swp
test_*
iter_partitioning/hot_restart/hot_restart
!*.m
!*.c
mtx2edges
*.bcf
*.run.xml
*-blx.bib
*.dvi
